<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:type) %></th>
      
     </tr>
  </thead>
  <tbody>
   <% @users.try(:each) do |cr| %> 
      <tr>
        <td><%= link_to cr.id,cr %></td>
        <td><%= cr.name %></td>
        <td><%= cr.email %></td>
        <td><%= cr.cat %></td>
    
       
       
  
        <% end %>
  </tbody>
</table>




