<h1>New bug</h1>
<div class="row">
	<div class="span6 offset3">
	<%= form_for(@bug)do |f| %>
		<%= render 'shared/error_messages', :object => f.object %>

			<%= render 'form',f: f %>
			<%= f.submit "Create bug", class: "btn btn-large btn-primary" %>

		<%= link_to 'Back', root_path , :class => 'btn btn-default'%>
		<%= link_to '.cancel',bugs_path, :class => 'btn btn-default' %>
            

		<% end %>
	</div>
</div>
